@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #1c2331;
}
.containerCreate {
  position: relative;
  width: 100%;
}

.containerCreate form {
  margin: 0 auto;
  padding: 1rem;
  background-color: #1c2331;
  color: white; 
  max-height: calc(100vh - 54px);
  overflow-y: scroll;
}

.containerCreate h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.containerCreate label {
  display: flex;
  align-items: center;
  margin-bottom: 0.3rem;
  font-weight: bold;
}

.containerCreate input,
.containerCreate textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: none;
  outline: none;
  background-color: #2c3e50;
  color: white;
  font-size: 16px;
  resize: none;
}

.containerCreate hr {
  border: 1px solid white;
  margin: 1rem 0;
  background-color: white;
}

.containerCreate input:focus {
  background-color: #34495e;
}

.containerCreate .quiz-form-btn {
  background-color: #16a085;
  color: white;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  border: none;
  outline: none;
  float: right;
  margin-top: 0.5rem;
  text-align: center;
  padding: 0;
}

.containerCreate form div h1 {
  margin-bottom: 1rem;
}

.containerCreate form div div {
  background-color: #4d5d6d;
  padding: 0.8rem;
  margin-bottom: 1rem;
}

.containerCreate form div div label {
  display: inline-block;
  width: calc(100% - 20px);
}

.containerCreate form div div button {
  padding: 0.3rem;
  padding-right: 0;
  background-color: transparent;
  border: 0;
}

.containerCreate form div div i {
  color: #ff3434;
}

.containerCreate form div div section input {
  margin-bottom: 0.4rem;
}

.containerCreate form div div section div {
  margin-bottom: 0.1rem;
  padding: 0;
}

.containerCreate form div div section input,
.containerCreate form div div textarea {
  margin-bottom: 0.5rem;
}

.containerCreate form div div section input {
  width: calc(100% - 35px);
  display: inline-block;
  margin-right: 0;
}

.containerCreate form div div section button {
  background-color: #4d5d6d;
  width: 33px;
  height: 33px;
  padding: 0;
  margin: 0;
  margin-left: 0.1rem;
  border: 0;
  color: white;
}
.containerCreate form div div section i {
  color: white;
}

.containerCreate form input {
  width: 100% !important;
  margin-top: 1rem !important;
  text-align: center;
}
.containerCreate form .actionDiv {
  display: flex;
  flex-direction: row-reverse;
  column-gap: 1rem;
}

.containerCreate .loaderContainer {
  background-color: #000000;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 100;
}

.containerCreate .loader {
  width: 48px;
  height: 48px;
  margin-left: -20px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #fff;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}
.containerCreate .loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-left: 4px solid #16a085;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
