@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.containerMain {
    padding: 1rem;
    background-color: #1c2331;
    color: white;
}

.quizCard {
    background-color: #34495e;
    margin-bottom: 1rem;
    padding: 1rem;
}
.quizCard h1{
    display: inline-block;
    margin: 0 1rem;
    text-align: center;
    font-size: 26px;
}

.description{
    margin-bottom: 1.5rem !important;
    text-align: center;
}

.quizCard .createdByAndLinkContainer {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quizCard .createdByAndLinkContainer p {
    margin: 0 !important;
}

.quizCard .createdByAndLinkContainer a {
    padding: 0.25rem 0.75rem;
    background-color: #16a085;
    border-radius: 0.4rem;
    border: 2px solid white;
}

.quizCard .createdByAndLinkContainer p span {
    color: #16a085;
    font-weight: bold;
}


.quizCard .titleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.quizCard .titleContainer i{
    color: yellow;
    font-size: large;
}


.quizCard p {
    margin-bottom: 0.7rem;
}
.quizCard p i {
    margin-right: 0.5rem;
    font-size: 14px;
}

.solvesPlayers {
    color: #f1af09;
}
.successAttemps {
    color: #16a085;
}

.createdAt {
    font-size: small;
    font-style: italic;
    color: white !important;
    font-weight: normal !important;
}

.infoContainer {
    display: flex;
    flex-direction: column;
}

.infoContainer p {
    display: inline-block;
    width: 50%;
}

.infoContainer .rightItems {
    text-align: right;
}

.infoContainer .rightItems i {
    margin-right: 0 !important;
    margin-left: 0.5rem;
}

.questionsAmmount {
    width: 100% !important;
    text-align: center;
}

.loaderContainer {
    background-color: #000000;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 100;
}

.loader {
    width: 48px;
    height: 48px;
    margin-left: -20px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid #fff;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
}
.loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border-left: 4px solid #16a085;
    border-bottom: 4px solid transparent;
    animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}