@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.containerMain {
    padding: 1rem;
    background-color: #1c2331;
    color: white;
}

.quizCard {
    background-color: #34495e;
    margin-bottom: 1rem;
    padding: 1rem;
}
.quizCard h1{
    display: inline-block;
    margin: 0 1rem;
    text-align: center;
    font-size: 26px;
}

.description{
    margin-bottom: 1rem !important;
}

.quizCard .createdByAndLinkContainer {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quizCard .createdByAndLinkContainer p {
    margin: 0 !important;
}

.quizCard .createdByAndLinkContainer a {
    padding: 0.25rem 0.75rem;
    background-color: #16a085;
    border-radius: 0.4rem;
    border: 2px solid white;
}

.quizCard .createdByAndLinkContainer p span {
    color: #16a085;
    font-weight: bold;
}


.quizCard .titleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.quizCard .titleContainer i{
    color: yellow;
    font-size: large;
}

.quizCard .questionsInfo, 
.quizCard .usersInfo {
    display: flex;
    align-items: center;
}

.quizCard .usersInfo {
    justify-content: space-between;
}

.quizCard .questionsInfo p,
.quizCard .usersInfo p {
    margin-right: 1rem;
}

.quizCard p {
    margin-bottom: 0.7rem;
}
.quizCard p i {
    margin-right: 0.5rem;
    font-size: 14px;
}

.solvesPlayers {
    color: #f1af09;
}
.successAttemps {
    color: #16a085;
}
.lifes {
    color: #e31b23;
}


.userInfoItemContainer {
    display: grid; 
    grid-template-columns: 1rem 6rem; 
    grid-template-rows: 1.2rem 1.2rem; 
    gap: 0px 0px; 
    grid-template-areas: 
        "icon players ."
        "number players .";
    justify-content: center;
    align-items: start;
}
.userInfoItemContainer .players { grid-area: players; margin: 0 !important; margin-left: 0.3rem !important;}
.userInfoItemContainer .icon { grid-area: icon; margin: 0 !important}
.userInfoItemContainer .number { grid-area: number; margin: 0 !important}

.createdAt {
    font-size: small;
    font-style: italic;
    color: white !important;
    font-weight: normal !important;
}